:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

mat-card {
  width: 450px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  background: white;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background-color: #6a11cb;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #5a0fbf;
}