<div class="signup-container">
  <mat-card>
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom complet</mat-label>
        <input matInput formControlName="fullname" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type d'utilisateur</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let r of roles" [value]="r.value">{{ r.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Créer mon compte</button>
    </form>

    <p>Déjà un compte? <a routerLink="/auth/login">Se connecter</a></p>
  </mat-card>
</div>